.wrapper_game {
  position: relative;
  text-align: center;
  min-height: 600px;
  height: auto;
  display: block;
  margin-bottom: 60px;
  margin-top: 100px;
}

.tutorial {
  margin-top: 20px;
  font-size: 16px;
  text-align: center;
  line-height: 27px;
}

.wrap_coloing_list {
  max-width: 900px;
  margin: 20px auto;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
}

.list-container {
  margin: 20px 7.5px;
  width: auto;
  height: auto;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.list_thumbnail {
  display: block;
  position: relative;
  width: 280px;
  height: 280px;
  border: 1px solid #7c7067;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 6px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.list_thumbnail:hover {
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
}

.list-container img {
  display: block;
  position: relative;
  width: 100%;
}
.list-container .name {
  font-size: 16px;
  line-height: 27px;
  margin: 0;
}
.list-container .desc {
  font-size: 13px;
  line-height: 20px;
  margin: 0;
}

.list01 {
  background-image: url(img/01-color.png);
}
.list02 {
  background-image: url(img/02-color.png);
}
.list03 {
  background-image: url(img/03-color.png);
}
.list04 {
  background-image: url(img/04-color.png);
}
.list05 {
  background-image: url(img/05-color.png);
}
.list06 {
  background-image: url(img/06-color.png);
}
.list07 {
  background-image: url(img/07-color.png);
}
.list08 {
  background-image: url(img/08-color.png);
}
.list09 {
  background-image: url(img/09-color.png);
}

.list01:hover {
  background-image: url(img/01-mono.png);
}
.list02:hover {
  background-image: url(img/02-mono.png);
}
.list03:hover {
  background-image: url(img/03-mono.png);
}
.list04:hover {
  background-image: url(img/04-mono.png);
}
.list05:hover {
  background-image: url(img/05-mono.png);
}
.list06:hover {
  background-image: url(img/06-mono.png);
}
.list07:hover {
  background-image: url(img/07-mono.png);
}
.list08:hover {
  background-image: url(img/08-mono.png);
}
.list09:hover {
  background-image: url(img/09-mono.png);
}

a {
  text-decoration: none;
  color: #584c43;
}

@media screen and (max-width: 900px) {
  .wrapper_game {
    padding: 0 2vw;
  }
  .list-container {
    margin: 0 1.5vw 20px 1.5vw;
    width: 43vw;
  }
  .list_thumbnail {
    width: 43vw;
    height: 43vw;
    border-radius: 15px;
  }
}
