* {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

label {
    font-weight: normal;
}

.button-wrap {
    position: relative;
    text-align: center;
    top: 50%;
}

.button-label {
    display: inline-block;
    padding: 0.5em 1.5em;
    margin: 0.5em;
    cursor: pointer;
    color: #292929;
    border-radius: 0.25em;
    background: #efefef;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.22);
    transition: 0.3s;
    user-select: none;
}

.button-label:hover {
    background: #d6d6d6;
    color: #101010;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.32);
}

.button-label:active {
    transform: translateY(2px);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0px -1px 0 rgba(0, 0, 0, 0.22);
}

@media (max-width:40em) {
    .button-label {
        padding: 0em 1em 3px;
        margin: 0.25em;
    }
}

.agree-btn:checked+.button-label {
    background: #2ecc71;
    color: #efefef;
}

.agree-btn:checked+.button-label:hover {
    background: #29b765;
    color: #e2e2e2;
}

.disagree-btn:checked+.button-label {
    background: #d91e18;
    color: #efefef;
}

.disagree-btn:checked+.button-label:hover {
    background: #c21b15;
    color: #e2e2e2;
}

.hidden {
    display: none;
}

.bottom {
    margin-bottom: 100px;
}

.show {
    display: block;
}

.results {
    margin-bottom: 40px;
    margin-top: 40px;
}

input[type="radio"] {
  opacity: 0;
}